.powered {
    position: relative;

    padding: 100px 0 100px 0px;
    background-color: #F7F7F7;

    &__title {
        color: #003d56;
        font-family: $primary-font;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: -1.84px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }

        &--bt7 {
            max-width: 120px;
        }
        &--sigc {
            max-width: 300px;
        }
        &--nova {
            max-width: 210px;
        }
    }
}

@media only screen and (max-width: 768px) {
   .powered {
        padding: 50px 0;
       &__title {
           font-size: 25px;
           margin-bottom: 30px;

       }

       &__logo {
            img {
                margin: 20px 0;
            }
            &--bt7 {
                max-width: 100px;
            }
            &--sigc {
                max-width: 223px;
            }
            &--nova {
                max-width: 180px;
            }
       }
   }
}
