.service {
    position: relative;

    background-color: #F7F7F7;
    padding: 100px 0;

    &__title {
        color: #003d56;
        font-family: Montserrat;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: -1.84px;
        line-height: 1;
        text-align: center;
        margin-bottom: 80px;
        margin-top: 35px;
    }

    &__text {
        max-width: 515px;
        &__title {
            color: #003d56;
            font-family: Montserrat;
            font-size: 34px;
            font-weight: 700;
            letter-spacing: -1.84px;
            line-height: 1.3;
        }
        &__description {
            color: #003d56;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
        }
        &-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__img {
        img {
            max-width: 520px;
        }
        &--small {
            img {
                max-width: 420px;
            }
        }
    }

    &--white {
        background-color: $white;
        padding-bottom: 50px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .service {
        padding: 50px 0;
        &__title {
            font-size: 25px;
            margin-bottom: 50px;

        }
        &__text {
            &__title {
                font-size: 25px;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            &__description {
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                display: block;
                text-align: center;
                line-height: 1.3;
                margin: 25px;
            }
        }

        img {
            max-width: 150px;
            margin: 0 auto;
            display: block;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .service {
        &__img {
            img {
                max-width: 350px;
            }
            &--small {
                img {
                    max-width: 350px;
                }
            }
        } 
    }
}