.accordion {
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 0px;

    color: #6a6a6a;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}


.faq-content .accordion:after {
    content: '\203A';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 17px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.faq-content .active:after {
    content: "\203A";
    margin-left: 5px;
    margin-right: 17px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel {
    padding: 0 34px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 6px;
}
.faq-hr{
  border: 1px solid #f4f4f4;
      margin-bottom: 12px;
    margin-top: -16px;
}
.cont-col2{
  margin-right: 21%;
    margin-left: 6%;
    margin-top: 32px;
}

.cont-col1{
  margin-left: 13%;
  margin-top: 32px;
  margin-bottom: 50px;
}

.faq-hed{
	padding: 235px 20% 15%;
}

.faq-tit{
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
}

.faq-sub{

	border: 1px solid rgba(0, 0, 0, 0);
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	
}
.faq{
	background-position-x: 75%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-via{
	color: #fc782a;
	font-size: 20px;
	font-weight: 700;
}

.faq-anf{
/* Style for "Anfitrión" */
color: #460a8f;
font-size: 20px;
font-weight: 700;
}



@media only screen and (max-width: 1000px) and (min-width: 769px){
	.faq-hed {
	    padding: 235px 20% 20%;
	}
}


@media only screen and (max-width: 769px){
	.faq{
		background-repeat: no-repeat;
 		    background-size: 1654px;
	}
	.faq-hed {
	    padding: 235px 20% 48%;
	}
	.faq-sub {
	    font-size: 14px;
	}
	.faq-tit {
	    font-size: 28px;
	}
	.cont-col2 {
	    margin-right: 6% !important;
	    margin-left: 6% !important;
	    text-align: center;
	    margin-bottom: 44px;
	}
	.btx{
		text-align: center;
	}
	.cont-col1 {
	    margin-left: 6%;
	    margin-right: 6%;
	}

}


@media only screen and (max-width: 1000px){



}




