.seranf{
	background-color: #f5f5f5;
}
.contanf{
	    padding: 200px 94px 68px;
}

.ser-tit{
	font-size: 40px;
	font-weight: 700;
	color: #141414;
	line-height: 0;
}

.ser-sub{
	color: #141414;
	font-size: 20px;
	font-weight: 600;
}

.in-anf{
	width: 100%;
	height: 49px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 0px;
	font-size: 20px;
}
.terminos{
	color: #aaaaaa;
	font-size: 13px;
	font-weight: 300;
}
.btn-ser{
	border-radius: 25px;
	padding: 16px 29px;
	background-image: linear-gradient(156deg, #7c34f9 0%, #460a8f 100%);
}
.btn-ser-text{
	color: #f5f5f5;
	font-size: 18px;
	font-weight: 700;
}
.in-anf::-webkit-input-placeholder { 
	font-weight: 600;
	font-size: 15px;
	color: #a4a6a8;
	font-family: "Montserrat"
}

.anf-imgg{

	width: 377px;
    margin-top: 113px;

}

.faq-col2{
	background-color: rgba(247, 248, 251, 0.8);
}

.faq-content{
	margin-top: 68px;
}
.dud{

font-family: "Montserrat";
font-size: 35px;
font-weight: 700;

}
.dud2{
	color: #6a6a6a;
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 400;
}
.btn-enviarpre{
	padding: 13px 70px;
    border-radius: 25px;
    background-image: linear-gradient(156deg,#fc782a 0,#fa4c4c 100%);
    border: 0px;
}
.text-enviarpre{

	color: #f5f5f5;
	font-size: 18px;
	font-weight: 700;
}
@media only screen and (max-width: 1000px) and (min-width: 769px){
	
}


@media only screen and (max-width: 769px){
	.btn-n-check{
		text-align: center;
	}
	.contanf {
	    padding: 200px 29px 68px;
	}
}


@media only screen and (max-width: 1000px){

	.col-anf-2{
		display: none;
	}

}


@media only screen and (max-width: 555px){

	.ser-tit{
		    font-size: 19px;
	}
	.ser-sub {
	    font-size: 15px;
	}

	.contanf {
	    padding: 148px 29px 68px;
	}

}