/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  background-color: #141414;
  z-index: 999;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%; /* 100% width */
  height: 85%; /* 100% width */
  text-align: center; /* Centered text/links */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__logo {
    img {
      max-width: 150px;
    }
  }
  &__menu {
    a {
      display: block;
    }
  }
  &__social {
    a {
      display: inline-block;
    }
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay .menu-item-32 a {
  color: #fff;
  border-radius: 25px;
  padding: 10px 35px;
  margin-top: 23px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc782a+0,fa4c4c+100 */
background: #fc782a; /* Old browsers */
background: -moz-linear-gradient(-45deg, #fc782a 0%, #fa4c4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #fc782a 0%,#fa4c4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #fc782a 0%,#fa4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc782a', endColorstr='#fa4c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 33px;
  right: 23px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
      font-size: 34px;
      top: 15px;
      right: 35px;
  }
}

#nav-icon3 {
  width: 30px;
  height: 37px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $first;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 11px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media only screen and (max-width: 768px) {
  .overlay a {
    font-size: 16px;
    font-weight: 600;
  }
  .overlay-content {
    &__menu {
      &--button {
        margin-top: 15px;
      }
    }
  }
}