body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  background-color: $white;
  color: $first;
  transition: all 0.3s;
}


.container {
  width: 100%;
  max-width: 1424px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
  position: relative;
}

.full-height {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-is-tablet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-canlover {
  opacity: 0;
  height: 0;
}

.disabled-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.slick-custom-prev, .slick-custom-next {
  z-index: 1;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  color: $first;
  background-color: #FFF;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.50);
}

.slick-custom-prev i {
  margin-right: 5px;
}

.slick-custom-next i {

}

.slick-custom-prev {
  left: 25px;
  z-index: 1;
}

.slick-custom-next {
  right: 25px;
  z-index: 1;
}

.slider-slik {
  background: #000;
}

.btn-animation {
  overflow: hidden;
}

.btn-animation::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-animation:hover:after {
  height: 100%;
  width: 135%;
}

.row-reverse {
  display: flex;
  flex-direction: row;
}

.anchor {
  display: block;
  height: 63px;
  margin-top: -63px;
  visibility: hidden;
}
.menu-item a {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}



@media only screen and (max-width: 768px) {
  .flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .container-is-gapless-table {
    padding: 0;
  }
  .flex-center-is-tablet {
    display: initial;
    justify-content: center;
    align-items: center;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
}




.button8top:before {
    background-color: #fff !important;
}

.button8top:hover{
  border: 3px solid #7c34f9;
  color: #7c34f9 !important;
}



.button8normor:before {
    background-color: #460A8F !important;
}
.button8normor:hover{
  border: 0px solid #7C34F9;
  color: #fff !important;
}
.anf-btn-text:hover{
  color: white;
}




.button8normor2:before {
    background-color: #460A8F !important;
}
.button8normor2:hover{
  border: 0px solid #7C34F9;
  color: #fff !important;
}

.button8normor2:hover a{
  color: #fff !important;
}






.button8blog:before {
    background-color: #fff !important;
}

.button8blog:hover{
  border: 3px solid #fc782a;
}

.button8blog:hover a{
  color: #fc782a;
}




.button8faq:before {
    background-color: #f7f8fb !important;
}

.button8faq:hover{
  border: 3px solid #fc782a;
}

.button8faq:hover .text-enviarpre{
  color: #fc782a;
}

.anima-lottie{
  width: 32% !important; 
  height: 32% !important;
}


.sim-button{
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 125px;
  width: 60%;
  cursor: pointer;
  position:relative;
  z-index: 99;

}
.button8:hover{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button8{
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 0px solid rgba(255,255,255,0.5);
  position: relative; 
}

.button8::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 25px;

}
.button8:hover::before{
  opacity: 1;
  width: 100%;
}


    .des-den {
      color: #5818b3;
      text-decoration: none;
    }

    .des-fue {
      position: relative;
      z-index: 998;
    }
    .como-fun-acc:before, .como-fun-acc:after {
      background-color: #fff !important;
    }

    .des-fue:before, .des-fue:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      border-radius: 11px;
      background-color: #5818b3;
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      transition: -webkit-transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
      z-index: -10;
    }

    .des-fue:before {
      top: calc(50% - 6px);
      height: 18px;
      left: -8px;
      width: 112%;
      height: 135%;
      top: -2px;
      left: -10px;
      -webkit-transform: scale3d(0, 1, 1);
              transform: scale3d(0, 1, 1);
    }
    .des-fue:after {
      bottom: -10px;
      height: 4px;
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    .des-fue:hover:before, h1:focus:before {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    .des-fue:hover:after, h1:focus:after {
      -webkit-transform: scale3d(0, 1, 1);
              transform: scale3d(0, 1, 1);
    }

    .com-accion{
      color: #fff !important;
    }

/*    .pass-accion:before{
      color: #fb623b !important;
    }*/

    .com-unic{
      color: #fc6f31 !important;
    }

    .pasosanf-accion:hover a{
      color: #fff !important;
    }

    .pasosanf-accion:before{
      background-color: #fc6f31 !important;
    }
    .pasosanf-accion:after{
      background-color: #fc6f31 !important;
    }

    .com-accion:hover{
      color: #fc782a !important;
    }
